main{
    width: 100%;
    display: flex;
    flex-wrap:wrap;
    justify-content:space-evenly;

}
header{
    height: 60px;
    background: #eee;
    width: 100%;
}
header h1 {
    color: black;
    text-align: center;
    font-family: 'Pangolin', cursive;
    font-size: xx-large;
}
.container h2{
    order: 1;
}
.container img{
    order: 2;
    width: 200px;
    height: 200px;
    align-self: center;
}
.container p{
    order: 3;
    text-align: center;

}
.container{
    width: 300px;
    height: 300px;
    display: flex;
    /* background: blanchedalmond; */
    flex-direction: column;
     
}

footer {
 clear: both;
    height: 80px;
    width: 100%;
    background: #eee;
    text-align: center;
    padding-top: 30px;
}

#title{
padding-left: 10px;
padding-top: 4px;
}

.newHe{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 30px;
}
.newHe input{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 20px;
}
.newHe select{
    padding: 10px;
}