main{
    display: flex;
    flex-direction:column;
    flex-wrap:wrap
}
header{
    height: 60px;
    background: #eee;
    width: 100%;
}
header h1 {
    color: black;
    text-align: center;
    font-family: 'Pangolin', cursive;
    font-size: xx-large;
}
.container h2{
    order: 1;
}
.container img{
    order: 2;
    width: 200px;
    height: 200px;
}
.container p{
    order: 3;
    align-self:flex-end;

}
.container{
    display: flex;
    border: 1px solid black;
    background: blanchedalmond;
    justify-content: center;    
}

footer {
 clear: both;
    height: 80px;
    width: 100%;
    background: #eee;
    text-align: center;
    padding-top: 30px;
}

